
@model DataLayer.Usuario

@using (Html.BeginForm("CrudBuilder", "CRUD"))
{
    <label> Nombre </label>
    <div>
        @Html.TextBoxFor(m => m.Nombre, new { type = "text" })
        <br />
        @Html.ValidationMessage("Nombre", new { @style="color: red; font-weight: 400" })

        @*@Html.ValidationMessageFor(m => m.Nombre)*@
        @*<input type="text" name="TxtNombre" value="" />*@
    </div>

    <label> Fecha de Nacimiento </label>
    <div>
        @Html.TextBoxFor(m => m.FechaNacimiento, new { type = "date" })
        <br />
        @Html.ValidationMessage("FechaNacimiento", new { @style="color: red; font-weight: 400" })

        @*<input type="date" name="TxtFecha" value="" />*@
    </div>

    <label> Localización </label>
    <div>
        @Html.TextBoxFor(m => m.Localizacion, new { type = "text" })
        <br />
        @Html.ValidationMessage("Localizacion", new { @style="color: red; font-weight: 400" })

        @*<input type="text" name="TxtLocalizacion" value="" />*@
    </div>

    <label> Patrimonio </label>
    <div>
        @Html.TextBoxFor(m => m.Patrimonio, new { type = "number" })
        <br />
        @Html.ValidationMessage("Patrimonio", new { @style="color: red; font-weight: 400" })
        @*<input type="number" name="TxtPatrimonio" value="" />*@
    </div>

    <label> Sexo </label>
    <br />
    @*<label>
        Macho
        @Html.RadioButtonFor(m => m.Sexo, 'M')
    </label>
    <label>
        Hembra
        @Html.RadioButtonFor(m => m.Sexo, 'F')
    </label>*@
    <br />
    <label> Bio </label>
    <div>
        @Html.TextAreaFor(m => m.Bio, new { rows = "5", cols = "33"})
        <br />
        @Html.ValidationMessage("Bio", new { @style="color: red; font-weight: 400" })

    </div>

    <input type="submit" class="btn btn-danger" value="Submit" accesskey="none"
           style="font-size:24px" />
}
