@model IEnumerable<DataLayer.Usuario>
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectAll</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>
       
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patrimonio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo.NombreSexo)
                    </td>
                    <td>
                        @Html.ActionLink("Actualizar", "Update", item, null)

                        @using (@Html.BeginForm("SelectAll", "CRUD", new { id = item.ID }))
                        {
                            <input type="submit" class="btn btn-danger" value="Eliminar" />
                        }
                    </td>
                </tr>
            }
        </table>
</body>
</html>
