@model DataLayer.Usuario


@using (Html.BeginForm("SelectByID", "CRUD", 1))
 {
    <fieldset class="container-fluid">
        <legend> Who is you modifying ID bro? </legend>
        @Html.TextBoxFor(m => m.ID, new { type = "number" })
        <br />
        @Html.ValidationMessage("ID", new { @style = "color: red; font-weight: 400" })
        <br />
        <input type="submit" class="danger" name="SubmitQuery" value="Search">
        
    </fieldset>
 }

<hr class="danger"/>
@using (Html.BeginForm("SelectByID", "CRUD", 1))
 {
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">UPDATE OPERATIONS</legend>

        <label> Nombre </label>
        <div class="control-group">
            @Html.TextBoxFor(m => m.Nombre, new { Value = @Model.Nombre })
            @*<input type="text" name="TxtNombre" value=@Model.Nombre />*@
        </div>

        <label> Fecha de Nacimiento </label>
        <div>
            @Html.TextBoxFor(m => m.FechaNacimiento, new { type = "date", Value = @Model.FechaNacimiento })
            @*<input type="date" name="TxtFecha" value="@Model.FechaNacimiento" />*@
        </div>

        <label> Localización </label>
        <div>
            @Html.TextBoxFor(m => m.Localizacion, new { Value = @Model.Localizacion })
            @*<input type="text" name="TxtLocalizacion" value="@Model.Localizacion" />*@
        </div>

        <label> Patrimonio </label>
        <div>
            @Html.TextBoxFor(m => m.Patrimonio, new { type = "number", Value = @Model.Patrimonio })
            @*<input type="number" name="TxtPatrimonio" value="@Model.Patrimonio" />*@
        </div>

        <label> Sexo </label>
        <div>
            @*@switch (Model.Sexo)
            {
                case 'M':
                    <label style="font-weight:100">Macho  @Html.RadioButton("RBSex", "Macho", true)</label>
                    <label style="font-weight:100">Hembra @Html.RadioButton("RBSex", "Hembra")</label>
                    break;
                case 'F':
                    <label style="font-weight:100">Macho  @Html.RadioButton("RBSex", "Macho")</label>
                    <label style="font-weight:100">Hembra @Html.RadioButton("RBSex", "Hembra", true)</label>
                    break;
                default:
                    <label style="font-weight:100">Macho  @Html.RadioButton("RBSex", "Macho")</label>
                    <label style="font-weight:100">Hembra @Html.RadioButton("RBSex", "Hembra") </label>
                    break;
            }*@

        </div>

        <label> Bio </label>
        <div>
            @Html.TextAreaFor(m => m.Bio, new { rows = "5", cols = "33" })
            @*<textarea name="TxtBio" rows="5" cols="33"></textarea>*@
        </div>
        <hr />

        <input type="submit" class="btn btn-danger" value="Submit" accesskey="none" />
    </fieldset>
 }
